<nav class="navbar navbar-expand-lg sticky-top navbar-dark fixed-top bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<br />
<br />

<h2 style="text-align: center">Assignment 3.4 - Guarding Routes</h2>

<br />
<br />

<div role="main" class="container">
  <div class="row">
    <div class="col-4">
      <app-my-image></app-my-image>
    </div>
    <div class="col-8">
      <app-my-details></app-my-details>
    </div>
  </div>
</div>
