<!-- https://icons.getbootstrap.com/#install -->

<div class="row text-center">
  <h2>Contact Us</h2>
</div>
<br />
<br />
<div class="row">
  <div class="col-6">
    <div class="row">
      <h1><i class="bi bi-envelope"></i></h1>
      <br />
      Adam Rodgers<br />
      123 Any St.<br />
      Beverly Hills, CA<br />
      90210
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <h1><i class="bi bi-telephone"></i></h1>
      <br />
      1-800-555-1234
    </div>
  </div>
</div>
