<div class="row text-center">
  <h2>Pyotr Ilyich Tchaikovsky</h2>
</div>
<br />
<div class="row">
  <div class="col-4"><img src="../../assets/tchaikovsky.webp" /></div>
  <div class="col-8">
    Writing music with broad emotional appeal during the Romantic period, Pyotr
    Ilyich Tchaikovsky became one of the most popular Russian composers of all
    time. He was schooled in the western European tradition and assimilated
    elements from French, Italian, and German music with a personal and Russian
    style. Some of his best-known works were composed for the ballet, including
    Swan Lake, The Sleeping Beauty, and The Nutcracker, Op. 71.
    <a
      href="https://www.britannica.com/list/10-classical-music-composers-to-know"
      >(Source)</a
    >
  </div>
</div>
