<div fxLayout="column">
  <mat-card
    fxFlex
    style="margin-top: 10%; width: 50%; margin-left: 18%; text-align: center"
    class="mat-elevation-z4"
  >
    <mat-card-title>
      <img src="../../assets/not-found-image.png" />
    </mat-card-title>
    <mat-card-subtitle
      ><h1>
        Sorry, we can't find the page you're looking for...
      </h1></mat-card-subtitle
    >
    <br />
    <mat-card-content style="text-align: center">
      <button mat-raised-button color="accent" routerLink="/">
        Return Home
      </button>
    </mat-card-content>
  </mat-card>
</div>
